/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* * {
    border: 1px solid green;
} */

.container {
    width: 798px;
    margin: 0 auto;
}

/******************** HEADER ********************/

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/******************** BANNER ********************/

.banner {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 5%;
    padding-bottom: 5%;
    border-bottom: 1px solid black;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    margin: 5%;
}

.banner-text h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 5em;
}

.banner-text button {
    background: white;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}

.banner-text button:hover {
    background: black;
    color: white;
}

button {
    height: 30px;
    width: 180px;
}

.banner-img {
    width: 50%;
    height: 50%;
}

.banner-logo {
    margin: 2% 0;
}

.services-img {
    width: 100%;
    height: 50%;
}

/******************** TOP CONTENT ********************/

div .text-content {
    display: flex;
    flex-direction: column;
    margin: 0% 2%;
}

.main-content .top-content {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.top-content2 {
    align-items: flex-start;
}

.main-content .top-content .text-content {
    display: flex;
    justify-content: center;
}

/******************** MIDDLE HEADER ********************/
.main-content .middle-img {
    margin-top: 3%;
    width: 100%;
}

/******************** MIDDLE CARDS ********************/
.card {
    background: #e4e4e4;
    padding: 2%;
    border: 1px solid black;
}

button {
    height: 30px;
    width: 150px;
}

button {
    background: white;
    font-size: 1em;
    border: 1px solid black;
    cursor: pointer;
}

button:hover {
    background: black;
    color: white;
}
/******************** BOTTOM CONTENT ********************/
.bottom-content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bottom-content {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

hr {
    margin: 2% 0;
}

.facts {
    width: 50%;
}

/******************** CONTACT ********************/
#contact {
    margin-top: 5%;
}

#contact p {
    margin: 20px 0;
}

/******************** FOOTER ********************/
footer {
    margin: 32px 0;
    text-align: center;
    font-size: 14px;
}

/******************** MEDIA QUERIES ********************/

/******************** TABLET ********************/
@media (max-width: 800px) {
    .container {
        width: 80%;
    }
    header {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 5%;
        width: 100%;
    }

    header nav {
        justify-content: space-evenly;
        padding: 5% 0;
        width: 100%;
    }

    div .text-content {
        margin: 0;
    }

    .banner {
        justify-content: center;
    }
    .banner img {
        display: none;
    }
    .top-content .top-content2 {
        flex-direction: row;
    }
    .tablet-services {
        display: flex;
        flex-direction: column;
    }
    .facts-tablet {
        width: 100%;
    }
    .facts {
        width: 100%;
    }
    .services-img {
        justify-content: center;
    }
}

/******************** MOBILE ********************/
@media (max-width: 500px) {
    header {
        margin-top: 0%;
    }
    div header {
        flex-direction: column-reverse;
        width: 100%;
    }

    header nav {
        flex-direction: column;
        align-items: center;
        padding: 2%;
        width: 100%;
    }

    header nav a {
        display: flex;
        justify-content: center;
        align-content: space-between;
        border-bottom: 1px solid gray;
        padding: 2%;
        width: 100%;
    }

    .banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .top-content {
        flex-direction: column;
    }

    .bottom-content {
        flex-direction: column;
    }
}
